<div class="row">
  <aside class="col-md-4">
    <div class="card">
      <%= @card.original_text + " " + @card.translated_text %>
      <br>
      <br>
      <br>
      <br>
      <%= link_to 'Изменить карточку', edit_card_path(@card) %>
    </div>
    <br>
    <%= link_to 'Назад', cards_path, class: "btn btn-primary" %>
    <%= link_to "Удалить карточку", card_path(@card),
        method: :delete,
        data: { confirm: 'Вы уже выучили эту карточку?' },
        class: "btn btn-primary" %>
  </aside>
</div>
