@import "bootstrap";

$orange: #f2580b;
@mixin orange_background {
  background-color: $orange;
  border-color: $orange;
}
body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

.navbar-header {
  border-bottom: 1px solid gray;
}

.container {
  margin: 48px auto;
  width: 960px;

  h1 {
    float: left;
    margin: 0;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
  border: solid 1px $orange;
  padding: 10px;

  a {
    color: black;
    text-decoration: none;
  }
}


.card {
  background-color: $orange;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  height: 140px;
  transition: background-color 0.5s;
  width: 180px;

  a {
    text-decoration: none;
    color: white;
  }
}

.btn-primary {
  @include orange_background;

  &:hover {
    @include orange_background;
  }
}
/* MISC*/

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}


